<section class="form_section">
	<div class="container-fluid">
		<div class="row">
	        <div class="col-lg-push-4 col-xs-12 col-sm-12 col-md-12 col-lg-4">
               
 
                <h2 class="white">Enter validation code</h2>
                
 <p class="white">
    We sent a verification email to:<br>
{{identifier}}</p>
<p class="white">
<span style="border: solid 1px #fff; padding: 5px 12px; display: inline-block; margin: 0 5px;">{{code | slice:0:1}}</span>
<span style="border: solid 1px #fff; padding: 5px 12px; display: inline-block; margin: 0 5px;">{{code | slice:1:2}}</span>
<span style="border: solid 1px #fff; padding: 5px 12px; display: inline-block; margin: 0 5px;">{{code | slice:2:3}}</span>
<span style="border: solid 1px #fff; padding: 5px 12px; display: inline-block; margin: 0 5px;">{{code | slice:3:4}}</span>
</p>

<!--<h3 class="white">Your email successfully verified</h3>-->
                  
</div>     
</div>    
</div>    
</section> 
