
<app-dashsidebar [current_page]="3"></app-dashsidebar>
<section class="wrap bg-black">
	<div class="container-fluid">
        <div class="row">
        <div class="col-sm-8">
            <ul class="list-inline video-item">
			 <li class="col-sm-6 col-md-3 col-xs-6">
                 <div class="item-box">
                 <div class="thumbnail tmb">
                     <img src="assets/images/video6.jpg"/>
                     <a class="play-video" href="#">
                <i class="fa fa-play"></i>
                    </a>
                     </div>
                     <div class="item-dec">
                         <h5>Waco - Bouncy Trap be..</h5>
                         <ul class="list-inline video-likes">
                             <li><a href="#"><img src="assets/images/heart-sm.png"/> 2</a></li>
                             <li><a href="#"><img src="assets/images/view-iocn-sm.png"/> 1</a></li>
                             <li><a href="#"><img src="assets/images/chat-iocn-sm.png"/> 5</a></li>
                         </ul>
                     </div>
                 </div>
            </li>
           <li class="col-sm-6 col-md-3 col-xs-6">
                 <div class="item-box">
                 <div class="thumbnail tmb">
                     <img src="assets/images/video7.jpg"/>
                     <a class="play-video" href="#">
                <i class="fa fa-play"></i>
                    </a>
                     </div>
                     <div class="item-dec">
                         <h5>Free - Shirtless Bikema..</h5>
                             <ul class="list-inline video-likes">
                             <li><a href="#"><img src="assets/images/heart-sm.png"/> 2</a></li>
                             <li><a href="#"><img src="assets/images/view-iocn-sm.png"/> 1</a></li>
                             <li><a href="#"><img src="assets/images/chat-iocn-sm.png"/> 5</a></li>
                         </ul>
                     </div>
                 </div>
            </li>
           <li class="col-sm-6 col-md-3 col-xs-6">
                 <div class="item-box">
                 <div class="thumbnail tmb">
                     <img src="assets/images/video8.jpg"/>
                     <a class="play-video" href="#">
                <i class="fa fa-play"></i>
                    </a>
                     </div>
                     <div class="item-dec">
                         <h5>Vancouver - Space Melo..</h5>
                          <ul class="list-inline video-likes">
                             <li><a href="#"><img src="assets/images/heart-sm.png"/> 2</a></li>
                             <li><a href="#"><img src="assets/images/view-iocn-sm.png"/> 1</a></li>
                             <li><a href="#"><img src="assets/images/chat-iocn-sm.png"/> 5</a></li>
                         </ul>
                     </div>
                 </div>
            </li>
           <li class="col-sm-6 col-md-3 col-xs-6">
                 <div class="item-box">
                 <div class="thumbnail tmb">
                    <img src="assets/images/video9.jpg"/>
                     <a class="play-video" href="#">
                <i class="fa fa-play"></i>
                    </a>
                     </div>
                     <div class="item-dec">
                         <h5>Jonesboro - Lonely R&B..</h5>
                            <ul class="list-inline video-likes">
                             <li><a href="#"><img src="assets/images/heart-sm.png"/> 2</a></li>
                             <li><a href="#"><img src="assets/images/view-iocn-sm.png"/> 1</a></li>
                             <li><a href="#"><img src="assets/images/chat-iocn-sm.png"/> 5</a></li>
                         </ul>
                     </div>
                 </div>
            </li>
        </ul>
            </div>
        <div class="col-sm-4 video-rgtbar col-xs-12">
            <div class="profile-rgtbar">
                <div class="media rgtbar-video-mda">
                <div class="media-left">
                    <div class="video-mda-img">
                        <a href="#"><img src="assets/images/video-iocn0.png"/></a>
                    </div>
                    </div>
                <div class="media-body">
                    <a href="#"><img src="assets/images/bass0.png"/></a>
                    </div>
                </div>
            <div class="tread-lftbar">
                <h4>Shannon Ramsey</h4>
                    <p>I was the Mixing Engineer, Producer, Recording 
                        Engineer in this production</p>
                </div>
            </div>
            
            <div class="profile-rgtbar">
            <div class="tread-lftbar">
                <h4>Producer</h4>
                    <p>Average price - $200 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Remixing</h4>
                    <p>Average price - $150 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Game Audio</h4>
                    <p>Contact for pricing</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Programmed drum</h4>
                    <p>Average price - $70 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Percussion</h4>
                    <p>Contact for pricing</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Songwriter - Music</h4>
                    <p>Average price - $200 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Session DJ</h4>
                    <p>Contact for pricing</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>