<section class="form_section">
	<div class="container-fluid">
		<div class="row">
	        <div class="col-lg-push-4 col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="form_box">
                    <h2>Update Forget Password</h2>
<form [formGroup]="updatepwdForm" (ngSubmit)="onSubmit()" method="post">
    <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
            <div class="form-group">
           
           <!-- <input type="hidden" formControlName="userData"  />-->
                <input minlength="4" maxlength="4" type="text"  placeholder="Enter OTP Number" formControlName="otp" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.otp.errors }" />
                <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                    <div *ngIf="f.otp.errors.required">OTP code is required</div>
                </div>
            </div>
        </div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
   
    <div class="form-group">
      
        <input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
    <div class="form-group">
        <input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm Password">
        <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
            <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
            <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
        </div>
    </div>
  

</div>
   
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
     <button type="submit">Submit</button>
    </div>                             
</div>
</form>

</div>    
</div>     
</div>    
</div>    
</section> 
