<app-dashsidebar [current_page]="1"></app-dashsidebar>
<section class="wrap bg-black">
	<div class="container-fluid">
        <div class="row">
        <div class="col-sm-5 col-md-4 col-lg-3">
            <div class="profile-slderbar">
            <h3>Trending searches</h3>
                <div class="tread-lftbar">
                <h4>Black Wolf </h4>
                    <p>Sponsored</p>
                </div>
                <div class="tread-lftbar">
                <h4>staycozii  </h4>
                    <p>Sponsored</p>
                </div>
                <div class="tread-lftbar">
                <h4>iann dior </h4>
                    <p>2.9k results</p>
                </div>
                <div class="tread-lftbar">
                <h4>tyga </h4>
                    <p>4.8k results</p>
                </div>
                <div class="tread-lftbar">
                <h4>dababy</h4>
                    <p>6.8k results</p>
                </div>
            </div>
            <div class="profile-slderbar">
            <h3>Who to follow</h3>
                <div class="media follow-media">
                <div class="media-left">
                    <div class="media-img-sm"><img src="images/img-sm-zero.jpg"/></div>
                    </div>
                    <div class="media-body">
                    <h5>PrpdnujxrV</h5>
                        <p>302 followers</p>
                    </div>
                    <div class="media-right">
                    <div class="media-user">
                        <a href="#"><img src="images/user.png"/></a>
                        </div>
                    </div>
                </div>
                <div class="media follow-media">
                <div class="media-left">
                    <div class="media-img-sm"><img src="images/img-sm.jpg"/></div>
                    </div>
                    <div class="media-body">
                    <h5>Kace The pro..</h5>
                        <p>35.8k followers</p>
                    </div>
                    <div class="media-right">
                    <div class="media-user">
                        <a href="#"><img src="images/user.png"/></a>
                        </div>
                    </div>
                </div>
                <div class="media follow-media">
                <div class="media-left">
                    <div class="media-img-sm"><img src="images/img-sm0.jpg"/></div>
                    </div>
                    <div class="media-body">
                    <h5>Origamibeats</h5>
                        <p>59.5kk</p>
                    </div>
                    <div class="media-right">
                    <div class="media-user">
                        <a href="#"><img src="images/user.png"/></a>
                        </div>
                    </div>
                </div>
                <div class="media follow-media">
                <div class="media-left">
                    <div class="media-img-sm"><img src="images/img-sm1.jpg"/></div>
                    </div>
                    <div class="media-body">
                    <h5>Callari</h5>
                        <p>3.3k followers</p>
                    </div>
                    <div class="media-right">
                    <div class="media-user">
                        <a href="#"><img src="images/user.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="col-sm-7 col-md-5 col-lg-6">
            <div class="profile-midbox">
            <div class="media profile-hdr-item">
                <div class="media-left">
                    <div class="media-img-sm"><img src="images/img-sm-zero.jpg"/></div>
                </div>
                <div class="media-body">
                <p>Shirtless Bikeman <a href="mailto:@shirtlessbikeman">@shirtlessbikeman</a> <span>: 4h</span></p>
                </div>
                </div>
                <div class="media profile-media-item">
                <div class="media-left">
                    <div class="media-img-md"><img src="images/img-md.jpg"/></div>
                </div>
                <div class="media-body">
                    <h5>Samarkand <img src="images/video-iocn.png"/></h5>
                    <p class="first-phr">Beat <span>by</span> Shirtless Bikeman <span>@shirtlessbikeman</span></p>
                    <p><span>Released on Sep 14, 2020 <br/>Have a unique sound</span></p>
                </div>
                </div>
                <ul class="list-inline profile-item-like">
                <li><a href="#"><img src="images/like-heart.png"> 974</a></li>
                <li><a href="#"><img src="images/view-iocn.png"> 284</a></li>
                <li><a href="#"><img src="images/chat-iocn.png"> 50</a></li>
                <li><div class="share-btn"><a href="#"><img src="images/share-icon.png"></a></div></li>
                <li><div class="listint-shopping-btn"><a href="#"><img src="images/share-icon0.png"> $10</a></div></li>
            </ul>
            </div>
            <div class="profile-midbox">
            <div class="media profile-hdr-item">
                <div class="media-left">
                    <div class="media-img-sm"><img src="images/img-sm-zero.jpg"/></div>
                </div>
                <div class="media-body">
                <p>Shirtless Bikeman <a href="mailto:@shirtlessbikeman">@shirtlessbikeman</a> <span>: 4h</span></p>
                </div>
                </div>
                <div class="media profile-media-item">
                <div class="media-left">
                    <div class="media-img-md"><img src="images/img-md0.jpg"/></div>
                </div>
                <div class="media-body">
                    <h5>Omaha <img src="images/video-iocn.png"/></h5>
                    <p class="first-phr">Beat <span>by</span> Shirtless Bikeman <span>@shirtlessbikeman</span></p>
                    <p><span>Released on Sep 14, 2020 <br/>Have a unique sound</span></p>
                </div>
                </div>
                <ul class="list-inline profile-item-like">
                <li><a href="#"><img src="images/like-heart.png"> 974</a></li>
                <li><a href="#"><img src="images/view-iocn.png"> 284</a></li>
                <li><a href="#"><img src="images/chat-iocn.png"> 50</a></li>
                <li><div class="share-btn"><a href="#"><img src="images/share-icon.png"></a></div></li>
                <li><div class="listint-shopping-btn"><a href="#"><img src="images/share-icon0.png"> $10</a></div></li>
            </ul>
            </div>
            <div class="profile-midbox">
            <div class="media profile-hdr-item">
                <div class="media-left">
                    <div class="media-img-sm"><img src="images/img-sm-zero.jpg"/></div>
                </div>
                <div class="media-body">
                <p>Shirtless Bikeman <a href="mailto:@shirtlessbikeman">@shirtlessbikeman</a> <span>: 4h</span></p>
                </div>
                </div>
                <div class="media profile-media-item">
                <div class="media-left">
                    <div class="media-img-md"><img src="images/img-md1.jpg"/></div>
                </div>
                <div class="media-body">
                    <h5>Seoul <img src="images/video-iocn.png"/></h5>
                    <p class="first-phr">Beat <span>by</span> Shirtless Bikeman <span>@shirtlessbikeman</span></p>
                    <p><span>Released on Sep 14, 2020 <br/>Have a unique sound</span></p>
                </div>
                </div>
                <ul class="list-inline profile-item-like">
                <li><a href="#"><img src="images/like-heart.png"> 974</a></li>
                <li><a href="#"><img src="images/view-iocn.png"> 284</a></li>
                <li><a href="#"><img src="images/chat-iocn.png"> 50</a></li>
                <li><div class="share-btn"><a href="#"><img src="images/share-icon.png"></a></div></li>
                <li><div class="listint-shopping-btn"><a href="#"><img src="images/share-icon0.png"> $10</a></div></li>
            </ul>
            </div>
            <div class="profile-midbox">
            <div class="media profile-hdr-item">
                <div class="media-left">
                    <div class="media-img-sm"><img src="images/img-sm-zero.jpg"/></div>
                </div>
                <div class="media-body">
                <p>Shirtless Bikeman <a href="mailto:@shirtlessbikeman">@shirtlessbikeman</a> <span>: 4h</span></p>
                </div>
                </div>
                <div class="media profile-media-item">
                <div class="media-left">
                    <div class="media-img-md"><img src="images/img-md.jpg"/></div>
                </div>
                <div class="media-body">
                    <h5>Samarkand <img src="images/video-iocn.png"/></h5>
                    <p class="first-phr">Beat <span>by</span> Shirtless Bikeman <span>@shirtlessbikeman</span></p>
                    <p><span>Released on Sep 14, 2020 <br/>Have a unique sound</span></p>
                </div>
                </div>
                <ul class="list-inline profile-item-like">
                <li><a href="#"><img src="images/like-heart.png"> 974</a></li>
                <li><a href="#"><img src="images/view-iocn.png"> 284</a></li>
                <li><a href="#"><img src="images/chat-iocn.png"> 50</a></li>
                <li><div class="share-btn"><a href="#"><img src="images/share-icon.png"></a></div></li>
                <li><div class="listint-shopping-btn"><a href="#"><img src="images/share-icon0.png"> $10</a></div></li>
            </ul>
            </div>
            </div>
            <div class="clearfix visible-sm"></div>
        <div class="col-sm-12 col-md-3  col-lg-3">
            <div class="profile-rgtbar">
                <div class="media rgtbar-video-mda">
                <div class="media-left">
                    <div class="video-mda-img">
                        <a href="#"><img src="images/video-iocn0.png"/></a>
                    </div>
                    </div>
                <div class="media-body">
                    <a href="#"><img src="images/bass0.png"/></a>
                    </div>
                </div>
            <div class="tread-lftbar">
                <h4>Shannon Ramsey</h4>
                    <p>I was the Mixing Engineer, Producer, Recording 
                        Engineer in this production</p>
                </div>
            </div>
            
            <div class="profile-rgtbar">
            <div class="tread-lftbar">
                <h4>Producer</h4>
                    <p>Average price - $200 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Remixing</h4>
                    <p>Average price - $150 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Game Audio</h4>
                    <p>Contact for pricing</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Programmed drum</h4>
                    <p>Average price - $70 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Percussion</h4>
                    <p>Contact for pricing</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Songwriter - Music</h4>
                    <p>Average price - $200 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Session DJ</h4>
                    <p>Contact for pricing</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
