<section class="form_section">
	<div class="container-fluid">
		<div class="row">
	        <div class="col-lg-push-4 col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="form_box">
                    <h2>Forget Password</h2>
                    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                <div class="form-group">
                                 <!--<input type="hidden" formControlName="id" value="{{userData}}">-->
                                    <input  type="text" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  placeholder="Enter your email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div class="text-white" *ngIf="f.email.errors.required">Email is required</div>
                                    </div>
                                    <div class="text-white" *ngIf="f.email.errors && f.email.errors.pattern">
                                        Email is invalid
                                    </div>
                                </div>
                            </div>
                           
                        </div><!--[disabled]="loading"-->
                         <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-12">
                                <button >
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Submit
                                </button>
                            
                            </div>                             
                        </div>
                    </form>
                    
                </div>    
            </div>     
		</div>    
	</div>    
</section> 


