



<section class="wrap thanks-section bg-black-gray">
    <div class="container">
       
    	  	 	 	  <div class="inner-thanks text-center">
    	  	 	 	  	 <img src="assets/images/thanks-white.png">
    	  	 	 	  	 <h1>Thank You</h1>
    	  	 	 	  	 <p [innerHTML]="membershipText"></p>
            <div class="btn-width mrgn-auto">
               <div class="button-1">
    <div class="eff-1"></div>
    <a routerLink="/"> Go Home </a>
  </div> 
                </div>
            </div>
     </div>
    </section>