<section class="media_section">
    <div class="container-fluid">
        <div class="row">
            <div class="main_heading text-right">
                <a *ngIf="list?.length > 0" class="btn btn_plus" href="javascript:void(0)" (click)="createTrack()"><i
                        class="fa fa-plus"></i></a>
            </div>
            <div class="media_page">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="javascript:void(0)" routerLink="/tracks/my-tracks">My Tracks
                                </a></li>
                            <!--<li><a href="#future" data-toggle="tab">Future Releases </a></li> -->
                            <li><a href="javascript:void(0)" routerLink="/tracks/future-releases">Future Releases </a>
                            </li>
                            <li><a href="javascript:void(0)" routerLink="/tracks/drafts">Drafts </a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tracks">
                                <div class="row">
                                    <div class="col-lg-push-3 col-md-6">
                                        <div class="media_page_box" *ngIf="list?.length == 0">
                                            <i class="fa fa-music"></i>
                                            <p *ngIf="list?.length == 0">You have no active tracks </p>
                                            <a class="upgrade_btn" href="javascript:void(0)"
                                                (click)="createTrack()">Create a track here</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="list?.length > 0">
                                    <div class="main_track_list">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2">
                                                    <div class="all_select">
                                                        <label class="container">
                                                            <input type="checkbox" [(ngModel)]="checkAll" (change)="onCheckAll()">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-4">
                                                    <div class="all_select">
                                                        <h3>Track</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2">
                                                    <div class="all_select">
                                                        <h3>Available Formats</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-4">
                                                    <div class="all_select">
                                                        <h3>Release Date</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my_track_list" *ngFor="let row of list | paginate: { id: 'listing_pagination',
                                      itemsPerPage: 12,
                                      currentPage: page,
                                      totalItems: totalRec  }; let i=index">
                                            <a>
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-7">
                                                    <div class="row">
                                                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-8">
                                                            <div class="number_of">
                                                                <p>{{i+1}}</p>
                                                                <span class="fa fa-play" (click)="playTrack(row, i)"></span>
                                                            </div>
                                                            <div class="check_box">
                                                                <label class="container">
                                                                    <input type="checkbox" name="my-calendar" [checked]="checkAll" (change)="onChangeSingleCheckbox($event, row)">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="image_with-text">
                                                                <h2><span><img src="{{row.image}}" alt=""></span>
                                                                    {{row.name | uppercase}}</h2>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5 col-sm-6 col-md-4 col-lg-4">
                                                            <div class="formats_box">
                                                                <button type="submit" *ngIf="(row.wav!='')">Wav</button>
                                                                <button type="submit" *ngIf="(row.mp3!='')">Mp3</button>
                                                                <button type="submit" *ngIf="(row.zip!='')">zip</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
                                                            <div class="release_date">
                                                                <h3>{{row.release_date}}</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
                                                            <div class="release_date new_tracklist">
                                                                <button type="submit">
                                                                    <a routerLink="/tracks/edit/{{row.id}}">
                                                                        <span class="fa fa-edit"></span></a></button>

                                                                <a class="remove" href="javascript:void(0)" mat-button
                                                                    (click)="delete(row.id)">
                                                                    <span class="fa fa-remove"></span></a>

                                                                <div class="dropdown listing-table-drop">
                                                                    <button class="dropdown-toggle" type="button"
                                                                        data-toggle="dropdown">
                                                                        <img src="assets/images/navgation-dot.png" />
                                                                    </button>
                                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                                        <li><a (click)="onclickTrackDetails(row)"
                                                                                routerLink="/details/{{CartService.getDetailsUrl(row)}}">Track
                                                                                Details</a></li>
                                                                        <li><a href="javascript:void(0)"
                                                                                (click)="open_close_modal_download(1,0,1,row)">
                                                                                Download </a></li>
                                                                    </ul>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                                            (pageChange)="getPage($event)">

                                        </pagination-controls>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="future">
                                <div class="row">
                                    <div class="col-lg-push-3 col-md-6">
                                        <div class="media_page_box">
                                            <i class="fa fa-music"></i>
                                            <p>You have no active tracks </p>
                                            <a class="upgrade_btn" href="track-metadata-editor.php">Create a track
                                                here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="drafts">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                        <div class="fliter_track">
                                            <div class="form-group">
                                                <input type="search" class="form-control" placeholder="Fliter track">
                                                <span class="fa fa-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
                                        <div class="fliter_track">
                                            <button type="submit" class="filter_btn">Arrange Traclists Order</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="main_track_list">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2">
                                                    <div class="all_select">
                                                        <label class="container">
                                                            <input type="checkbox">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-4">
                                                    <div class="all_select">
                                                        <h3>Track</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-2">
                                                    <div class="all_select">
                                                        <h3>Available Formats</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-sm-4 col-md-3 col-lg-4">
                                                    <div class="all_select">
                                                        <h3>Release Date</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my_track_list">
                                            <a href="#">
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-7">
                                                    <div class="row">
                                                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-8">
                                                            <div class="number_of">
                                                                <p>1</p>
                                                                <span class="fa fa-play"></span>
                                                            </div>
                                                            <div class="check_box">
                                                                <label class="container">
                                                                    <input type="checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="image_with-text">
                                                                <h2><span><img src="images/client.png" alt=""></span>
                                                                    New track</h2>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5 col-sm-6 col-md-4 col-lg-4">
                                                            <div class="formats_box">
                                                                <button type="submit">War</button>
                                                                <button type="submit">Mp3</button>
                                                                <button type="submit">zip</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
                                                            <div class="release_date">
                                                                <h3>October 20, 2020</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
                                                            <div class="release_date">
                                                                <button type="submit"><span
                                                                        class="fa fa-edit"></span></button>
                                                                <button type="submit"><span
                                                                        class="fa fa-remove"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="my_track_list">
                                            <a href="#">
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-7">
                                                    <div class="row">
                                                        <div class="col-xs-7 col-sm-6 col-md-4 col-lg-8">
                                                            <div class="number_of">
                                                                <p>1</p>
                                                                <span class="fa fa-play"></span>
                                                            </div>
                                                            <div class="check_box">
                                                                <label class="container">
                                                                    <input type="checkbox">
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="image_with-text">
                                                                <h2><span><img src="images/client.png" alt=""></span>
                                                                    New track</h2>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-5 col-sm-6 col-md-4 col-lg-4">
                                                            <div class="formats_box">
                                                                <button type="submit">War</button>
                                                                <button type="submit">Mp3</button>
                                                                <button type="submit">zip</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-7">
                                                            <div class="release_date">
                                                                <h3>October 20, 2020</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5">
                                                            <div class="release_date">
                                                                <button type="submit"><span
                                                                        class="fa fa-edit"></span></button>
                                                                <button type="submit"><span
                                                                        class="fa fa-remove"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<div id="myModalDownload1" class="modal fade" role="dialog" *ngIf="selected_product_download">
    <div class="modal-dialog modal-sm pop_center">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Download Media File {{selected_product_download.name}}</h4>
            </div>
            <div class="modal-body">
                <div id="loaderMain" style="display:none;">
                    <div class="loaderBody" role="status">
                        <span class="" id="loading"></span>
                    </div>
                </div>
                <div class="button-mainclass">

                    <button (click)="downloadFile(selected_product_download,1)"
                        class="btn btn-block twitter_btn bg_twitter mb10" type="button"> Download WAV or Mp3 </button>
                    <button (click)="downloadFile(selected_product_download,2)"
                        class="btn btn-block twitter_btn bg_red mb10" type="button"> Download Track Stems </button>
                    <button (click)="downloadFile(selected_product_download,3)"
                        class="btn btn-block twitter_btn bg_red mb10" type="button"> Download Tagged Audio </button>



                </div>
            </div>

        </div>

    </div>
</div>