<app-dashsidebar [current_page]="6"></app-dashsidebar>
<section class="wrap bg-black">
	<div class="container-fluid">
        <div class="row">
        <div class="col-sm-8">
            <div class="replay-ans rating-revies-comment">
                <h3>Ratings & Reviews</h3>
                <p><i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-gray"></i> <i class="fa fa-star star-gray"></i> 41 Ratings & 0 Reviews</p>
            <div class="media">
            <div class="media-left">
                <div class="replay-user-img"><img src="images/artist5.jpg"/></div>
                </div>
                <div class="media-body">
                <h5>Rahul Singh <span class="upadte-days">5 days ago</span></h5>
                    <p class="calander-phra"><img src="images/calander.png"/> 09 Aug, 2019 06:35 pm</p>
                    <p><span>I see ya vision gawd. Never stop. See you at the top. Stay lit</span></p>
                </div>
                <div class="media-right">
                <div class="review-media-rgt">
                 <p><i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-gray"></i> <i class="fa fa-star star-gray"></i> 3 Reviews</p>
                </div>
                </div>
            </div>
            <div class="media">
            <div class="media-left">
                <div class="replay-user-img"><img src="images/artist5.jpg"/></div>
                </div>
                <div class="media-body">
                <h5>Rahul Singh <span class="upadte-days">5 days ago</span></h5>
                    <p class="calander-phra"><img src="images/calander.png"/> 09 Aug, 2019 06:35 pm</p>
                    <p><span>I see ya vision gawd. Never stop. See you at the top. Stay lit</span></p>
                </div>
                <div class="media-right">
                <div class="review-media-rgt">
                 <p><i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-gray"></i> <i class="fa fa-star star-gray"></i> 3 Reviews</p>
                </div>
                </div>
            </div>
            <div class="media">
            <div class="media-left">
                <div class="replay-user-img"><img src="images/artist5.jpg"/></div>
                </div>
                <div class="media-body">
                <h5>Rahul Singh <span class="upadte-days">5 days ago</span></h5>
                    <p class="calander-phra"><img src="images/calander.png"/> 09 Aug, 2019 06:35 pm</p>
                    <p><span>I see ya vision gawd. Never stop. See you at the top. Stay lit</span></p>
                </div>
                <div class="media-right">
                <div class="review-media-rgt">
                 <p><i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-gray"></i> <i class="fa fa-star star-gray"></i> 3 Reviews</p>
                </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="post-review">
                        <h3>Post Your Review</h3>
                        <form>
                            <div class="form-group">
                            <input type="text" name="postcode" id="postcode" class="form-control" placeholder="Your Name "> </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your reviews"></textarea>
                            </div>
                            <div class="review-media-rate">
                                <p>Select Ratings <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-yellow"></i> <i class="fa fa-star star-gray"></i> <i class="fa fa-star star-gray"></i></p>
                            </div>
                            <button type="submit" class="btn btn-warning btn-submit" value="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            
            
            </div>
        <div class="col-sm-4 video-rgtbar">
            <div class="profile-rgtbar">
                <div class="media rgtbar-video-mda">
                <div class="media-left">
                    <div class="video-mda-img">
                        <a href="#"><img src="images/video-iocn0.png"/></a>
                    </div>
                    </div>
                <div class="media-body">
                    <a href="#"><img src="images/bass0.png"/></a>
                    </div>
                </div>
            <div class="tread-lftbar">
                <h4>Shannon Ramsey</h4>
                    <p>I was the Mixing Engineer, Producer, Recording 
                        Engineer in this production</p>
                </div>
            </div>
            
            <div class="profile-rgtbar">
            <div class="tread-lftbar">
                <h4>Producer</h4>
                    <p>Average price - $200 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Remixing</h4>
                    <p>Average price - $150 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Game Audio</h4>
                    <p>Contact for pricing</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Programmed drum</h4>
                    <p>Average price - $70 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Percussion</h4>
                    <p>Contact for pricing</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Songwriter - Music</h4>
                    <p>Average price - $200 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Session DJ</h4>
                    <p>Contact for pricing</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>