<section class="inner-section">
    <div class="container-fluid">
        <div class="inner-banner">
            <a href="#">Dashboard</a> <span>&gt;</span> <a href="#">Licenses &amp; Contracts</a>
        </div>
    </div>
</section>
<form class="" method="Post" (submit)="createlicense($event)" [formGroup]="licenseForm">
    <section class="licenses_section">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="main_heading">
                        <h3>Licenses &amp; Contracts </h3>
                    </div>
                    <h3 class="title_sub">License Type &amp; Name</h3>
                    <div class="main_bg">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="licenses_box">
                                        <label>LICENSE NAME</label>
                                        <input type="text" class="form-control" [ngClass]="(licenseForm.touched)?( licenseForm.get('name').invalid)?'has_error_class':'no_error_class':''" formControlName="name" placeholder="New License">

                                        <span>Note: Maximum 20 characters. Alpha - numeric characters only, with the exception of the following special characters: space, dash, plus, forward slash, open and close TrillIcons</span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="licenses_box">
                                        <label>MINIMUM PRICE</label>
                                        <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('minimum_offer_price').invalid)?'has_error_class':'no_error_class':''" formControlName="minimum_offer_price" class="form-control" placeholder="0">
                                        <span>Set the Default MINIMUM Price for this license for new Track Uploads (Optional) </span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <div class="auto_play">
                                            <span>ENABLE LICENSE</span>
                                            <label class="radio-inline">
                                          <input type="radio"  formControlName="enable_license" value="yes" >Yes
                                        </label>
                                            <label class="radio-inline">
                                          <input type="radio"  formControlName="enable_license"  value="no">No
                                        </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="licenses_box">
                                        <div class="licenses_box">
                                            <label>DEFAULT TRACK PRICE</label>
                                            <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('default_track_price').invalid)?'has_error_class':'no_error_class':''" formControlName="default_track_price" class="form-control" placeholder="0">
                                            <span>Set the Default TRACK Price for this license for new Album Uploads (Optional) </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="licenses_box">
                                        <label>DEFAULT ALBUM PRICE</label>
                                        <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('default_album_price').invalid)?'has_error_class':'no_error_class':''" formControlName="default_album_price" class="form-control" placeholder="0">
                                        <span>Set the Default ALBUM Price for this license for new Album Uploads (Optional) </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="title_sub">Files to Deliver when this license is Purchased</h3>
                    <div class="main_bg">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                                <div class="licenses_box">
                                    <label class="container"> 
                                  <input type="checkbox" class="mycustomCheckbox" [(ngModel)]="check1" [ngModelOptions]="{standalone: true}" value="1" (change)="clickBox(1)" id="1">MP3 - Always Included
                                  <span class="checkmark"></span>
                                </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                                <div class="licenses_box">
                                    <label class="container"> 
                                  <input type="checkbox" class="mycustomCheckbox" [(ngModel)]="check2"  [ngModelOptions]="{standalone: true}" value="2" (change)="clickBox(2)" id="2">Include WAV
                                  <span class="checkmark"></span>
                                </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                                <div class="licenses_box">
                                    <label class="container"> 
                                  <input type="checkbox" class="mycustomCheckbox" [(ngModel)]="check3" [ngModelOptions]="{standalone: true}" value="3" (change)="clickBox(3)" id="3">Include Track Stems
                                  <span class="checkmark"></span>
                                </label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="licenses_box">
                                    <div class="auto_play">
                                        <label class="radio-inline">
                                            <input type="radio" [checked]='true'  formControlName="mp3_for" value="yes">Untagged (MP3 Version - 320kbps)
                                        </label><br>
                                        <label class="radio-inline">
                                      <input type="radio"  formControlName="mp3_for" value="no">With Voice Tag
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="title_sub">Optional Information</h3>
                    <div class="main_bg">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="licenses_box">
                                    <label>BRIEF DESCRIPTION</label>
                                    <textarea type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('description').invalid)?'has_error_class':'no_error_class':''" formControlName="description" class="form-control" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="licenses_box">
                                    <label>FEATURE LIST</label>
                                    <textarea type="text" class="form-control" placeholder="" [ngClass]="(licenseForm.touched)?( licenseForm.get('features').invalid)?'has_error_class':'no_error_class':''" formControlName="features" style=" height: 119px;"></textarea>
                                    <span>Separate each item with a line break</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="title_sub">Customize Contract</h3>
                    <div class="media_page">
                        <div class="main_bg licenses_tab">
                            <div class="tabbable-panel">
                                <div class="tabbable-line">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#quick" data-toggle="tab" aria-expanded="true">QUICK CUSTOMIZATION </a></li>
                                        <li class=""><a href="#full" data-toggle="tab" aria-expanded="false">FULL CUSTOMIZATION </a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="quick">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>NUMBER OF DISTRIBUTION COPIES</label>
                                                                <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('distribution_copies').invalid)?'has_error_class':'no_error_class':''" formControlName="distribution_copies" class="form-control" placeholder="">
                                                                <span>Enter a Number or the word Unlimited</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>NUMBER OF AUDIO STREAMS</label>
                                                                <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('audio_streams').invalid)?'has_error_class':'no_error_class':''" formControlName="audio_streams" class="form-control" placeholder="">
                                                                <span>Enter a Number or the word Unlimited</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>NUMBER OF NON-MONETIZED VIDEO STREAMS</label>
                                                                <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('non_monetized_video_streams').invalid)?'has_error_class':'no_error_class':''" formControlName="non_monetized_video_streams" class="form-control" placeholder="">
                                                                <span>Enter a Number or the word Unlimited</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>BROADCASTING RIGHTS</label>
                                                                <select class="form-control" [ngClass]="(licenseForm.touched)?( licenseForm.get('broadcasting_right').invalid)?'has_error_class':'no_error_class':''" formControlName="broadcasting_right">
                                                                <option value=""> </option>
                                                                <option value="yes">Yes</option>
                                                              <option value="no">No</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>ALLOW FOR PROFIT PERFORMANCES</label>
                                                                <select class="form-control" [ngClass]="(licenseForm.touched)?( licenseForm.get('allow_profit').invalid)?'has_error_class':'no_error_class':''" formControlName="allow_profit">
                                                                <option value=""> </option>
                                                                <option value="yes">Yes</option>
                                                              <option value="no">No</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>STATE OR PROVINCE</label>
                                                                <input type="text" class="form-control" [ngClass]="(licenseForm.touched)?( licenseForm.get('state_province').invalid)?'has_error_class':'no_error_class':''" formControlName="state_province" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>NUMBER OF FREE DOWNLOADS</label>
                                                                <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('free_downloads').invalid)?'has_error_class':'no_error_class':''" formControlName="free_downloads" class="form-control" placeholder="">
                                                                <span>Enter a Number or the word Unlimited</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>NUMBER OF MUSIC VIDEOS</label>
                                                                <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('music_video').invalid)?'has_error_class':'no_error_class':''" formControlName="music_video" class="form-control" placeholder="">
                                                                <span>Enter a Number or the word Unlimited</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>NUMBER OF MONETIZED VIDEO STREAMS</label>
                                                                <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('monetized_video_streams').invalid)?'has_error_class':'no_error_class':''" formControlName="monetized_video_streams" class="form-control" placeholder="">
                                                                <span>Enter a Number or the word Unlimited</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>NUMBER OF RADIO STATIONS</label>
                                                                <input type="text" [ngClass]="(licenseForm.touched)?( licenseForm.get('radio_stations').invalid)?'has_error_class':'no_error_class':''" formControlName="radio_stations" class="form-control" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>NOT FOR PROFIT PERFORMANCES</label>

                                                                <select class="form-control" [ngClass]="(licenseForm.touched)?( licenseForm.get('not_profit').invalid)?'has_error_class':'no_error_class':''" formControlName="not_profit">
                                                                        <option value=""> </option>
                                                                        <option value="yes">Yes</option>
                                                                        <option value="no">No</option>
                                                                    </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="licenses_box">
                                                                <label>COUNTRY</label>
                                                                <select class="form-control" [ngClass]="(licenseForm.touched)?( licenseForm.get('country').invalid)?'has_error_class':'no_error_class':''" formControlName="country">
                                                                <option value=""> </option>
                                                                <option value="INDIA">INDIA</option>
                                                              <option value="US" > US</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="full">
                                            <div class="row">
                                                <div class="col-xs-8 col-md-8 col-md-8 col-md-8">
                                                    <div class="licenses_tab">
                                                        <h2>Customize Contract Template</h2>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4 col-md-84 col-md-4">
                                                    <div class="licenses_tab text-right">
                                                        <button type="button" (click)="resetContract()" class="btn_save bg_gray2">Reset</button>
                                                        <button type="button" (click)="open_close_modal_share(1)" class="btn_save bg_red">Show Preview</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="licenses_tab">
                                                        <div class="discp_info">
                                                            <div class="text_tools">
                                                                <a href="#"><i class="fa fa-rotate-left"></i> </a>
                                                                <a href="#"><i class="fa fa-rotate-right"></i> </a>
                                                            </div>
                                                            <div class="text_tools">
                                                                <a href="#"><i class="fa fa-bold"></i> </a>
                                                                <a href="#"><i class="fa fa-italic"></i></a>
                                                                <a href="#"><i class="fa fa-underline"></i> </a>
                                                            </div>
                                                            <div class="text_tools">
                                                                <a href="#"><i class="fa fa-align-left"></i> </a>
                                                                <a href="#"><i class="fa fa-align-center"></i></a>
                                                                <a href="#"><i class="fa fa-align-right"></i> </a>
                                                                <a href="#"><i class="fa fa-align-justify"></i> </a>
                                                            </div>
                                                            <div class="text_tools">
                                                                <a href="#"><i class="fa fa-indent"></i> </a>
                                                                <a href="#"><i class="fa fa-outdent"></i></a>
                                                            </div>
                                                            <div class="text_tools">
                                                                <a href="#"><i class="fa fa-list-ul"></i> </a>
                                                                <a href="#"><i class="fa fa-list-ol"></i></a>
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea class="form-control" [ngClass]="(licenseForm.touched)?( licenseForm.get('full_customization').invalid)?'has_error_class':'no_error_class':''" formControlName="full_customization" placeholder="">
                                                                   {{customization}}

                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="title_sub">Contract Variable References</h3>
                    <div class="main_bg">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p>
                                    <code>
                            <b>CONTRACT_DATE</b>   =Transaction Date
                            <br>
                            <b>PRODUCER_ALIAS </b> = BeatStars Display Name
                            <br>
                            <b>CUSTOMER_FULLNAME </b> = Customers' Fullname
                            <br>
                            <b>CUSTOMER_ALIAS </b> = Customer Artist Name
                            <br>
                            <b>CUSTOMER_ADDRESS </b> = Customer Address (when available)
                            <br>
                            <b>LICENSE_NAME </b> = Name of License
                            <br>
                            <b>FILE_TYPE </b> = File Types included in this License
                            <br>
                            <b>TRACK_OWNER_FULLNAME </b> = Track Owner/Seller's Fullname
                            <br>
                            <b>TRACK_TITLE </b> = Track Title
                            <br>
                            <b>DISTRIBUTE_COPIES_WORD </b> = # of Distribution Copies allowed (in words)
                            <br>
                            <b>DISTRIBUTE_COPIES </b> = # of Distribution Copies allowed (in numerical value)
                            <br>
                            <b>TRACK_PRICE_WORD </b> = Price of Track (in words)
                            <br>
                            <b>TRACK_PRICE </b> = Price of Price (in numerical value)
                            <br>
                            <b>AUDIO_STREAMS_WORD </b> = # of Audio Streams Allowed (in words)
                            <br>
                            <b>AUDIO_STREAMS </b> = # of Audio Streams allowed
                            <br>
                            <b>PERFORMANCES_NOT_FOR_PROFIT </b> = # of Not for Profit Performances Allowed
                            <br>
                            <b>PERFORMANCES_FOR_PROFIT </b> = # of Profit Performances Allowed
                            <br>
                            <b>MONETIZED_MUSIC_VIDEOS_WORD </b> = # of Monetized Music Videos allowed (in words)
                            <br>
                            <b>MONETIZED_MUSIC_VIDEOS </b> = # of Monetized Music Videos allowed (in numerical value)
                            <br>
                            <b>NONMONETIZED_VIDEO_STREAMS_ALLOWED </b> = # of Non Monetized Video Streams Allowed
                            <br>
                            <b>MONETIZED_VIDEO_STREAMS_ALLOWED </b> = # of Monetized Video Streams Allowed
                            <br>
                            <b>IF broadcast_rights = 'No' </b> = Conditional Statement for "Broadcasting Rights" settings
                            <br>
                            <b>ENDIF </b> = Conditional Statement for "Broadcasting Rights" settings
                            <br>
                            <b>NUMBER_OF_RADIO_STATIONS </b> = # of Radio Stations Allowed
                            <br>
                            <b>STATE_PROVINCE_COUNTRY </b> = Arbitration (State or Province and Country) where Governing Law is applied
                            <br>
                            <b>PUBLISHING_RIGHTS </b> = Publishing Rights - Generates Publishing Rights Based on Seller/Buyer Agreement (Applies to Exclusive Only)
                            </code>

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="bottom_btn">
        <a routerLink="/licenses" class="btn_save bg_gray1">Cancel</a>
        <button type="submit" class="btn_save bg_red" [disabled]="api_calling">Save Changes</button>
    </div>
</form>



<div id="myModalshare1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm pop_center">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p>Customize Contract Template</p>
            </div>
            <div class="modal-body">
                <p class="cutomization-text">{{customization}}</p>
            </div>

        </div>

    </div>
</div>