
<app-dashsidebar [current_page]="5"></app-dashsidebar>
<section class="wrap bg-black">
	<div class="container-fluid">
        <div class="row">
        <div class="col-sm-8">
            <div class="replay-ans profile-comment">
                <div class="row">
                    <div class="col-sm-9 col-xs-8 pdingrgt0">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Write a coments..."/>
                        </div>
                        </div>
                    <div class="col-sm-2 col-xs-4 col-pull-0">
                        <div class="form-group">
                        <button type="submit" class="btn btn-warning burlywood-btn">Send </button>
                        </div>
                        </div>
                    </div>
            <div class="media">
            <div class="media-left">
                <div class="replay-user-img"><img src="assets/images/artist5.jpg"/></div>
                </div>
                <div class="media-body">
                <h5>Rahul Singh <span class="upadte-days">3 days ago</span></h5>
                    <p>I see ya vision gawd. Never stop. See you at the top. Stay lit</p>
                    <ul class="list-inline replay-like">
                    <li><a href="#"><img src="assets/images/replay-arrow.png"/> 2</a></li>
                    <li><a href="#"><img src="assets/images/heart.png"/>  0</a></li>
                    </ul>
                    
                </div>
            </div>
            <div class="media">
            <div class="media-left">
                <div class="replay-user-img"><img src="assets/images/artist5.jpg"/></div>
                </div>
                <div class="media-body">
                <h5>Rahul Singh <span class="upadte-days">5 days ago</span></h5>
                    <p>amazing</p>
                    <ul class="list-inline replay-like">
                    <li><a href="#"><img src="assets/images/replay-arrow.png"/> 2</a></li>
                    <li><a href="#"><img src="assets/images/heart.png"/>  0</a></li>
                    </ul>
                </div>
            </div>
            <div class="media">
            <div class="media-left">
                <div class="replay-user-img"><img src="assets/images/artist5.jpg"/></div>
                </div>
                <div class="media-body">
                <h5>Rahul Singh <span class="upadte-days">5 days ago</span></h5>
                    <p>anybody bought this?</p>
                    <ul class="list-inline replay-like">
                    <li><a href="#"><img src="assets/images/replay-arrow.png"/> 2</a></li>
                    <li><a href="#"><img src="assets/images/heart.png"/>  0</a></li>
                    </ul>
                </div>
            </div>
            <div class="media">
            <div class="media-left">
                <div class="replay-user-img"><img src="assets/images/artist5.jpg"/></div>
                </div>
                <div class="media-body">
                <h5>Rahul Singh <span class="upadte-days">5 days ago</span></h5>
                    <p>Nice</p>
                    <ul class="list-inline replay-like">
                    <li><a href="#"><img src="assets/images/replay-arrow.png"/> 2</a></li>
                    <li><a href="#"><img src="assets/images/heart.png"/>  0</a></li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
        <div class="col-sm-4 video-rgtbar">
            <div class="profile-rgtbar">
                <div class="media rgtbar-video-mda">
                <div class="media-left">
                    <div class="video-mda-img">
                        <a href="#"><img src="assets/images/video-iocn0.png"/></a>
                    </div>
                    </div>
                <div class="media-body">
                    <a href="#"><img src="assets/images/bass0.png"/></a>
                    </div>
                </div>
            <div class="tread-lftbar">
                <h4>Shannon Ramsey</h4>
                    <p>I was the Mixing Engineer, Producer, Recording 
                        Engineer in this production</p>
                </div>
            </div>
            
            <div class="profile-rgtbar">
            <div class="tread-lftbar">
                <h4>Producer</h4>
                    <p>Average price - $200 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Remixing</h4>
                    <p>Average price - $150 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Game Audio</h4>
                    <p>Contact for pricing</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Programmed drum</h4>
                    <p>Average price - $70 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Percussion</h4>
                    <p>Contact for pricing</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Songwriter - Music</h4>
                    <p>Average price - $200 per song</p>
                </div>
                <hr class="listing-sider-hr"/>
                <div class="tread-lftbar">
                <h4>Session DJ</h4>
                    <p>Contact for pricing</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>