<section class="wrap bg-black">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="media_page"> -->
            <div class="">
                <div class="row">
                     
                    <!-- TRACK SECTION -->
                    <div class="product-listing col-xs-12 col-sm-12 col-md-9 col-lg-9" >
                        


                        <div class="title-header">
                            <h2 class="white">Embedded Url</h2>
							<p>Embed Your Track on your site</p>
                        </div>

                        <div class="listing-table">
                            <div class="">
                                 
									 <p [innerHTML]="embeddedUrl"></p>
                                 
                            </div>
                        </div>

                        
                    </div>
                    <!-- TRACK SECTION -->

                   


                </div>
            </div>

        </div>
    </div>
</section>
